@charset "UTF-8";
/* CSS Document */
/*I pledge my honor that I have abided by the Stevens Honor System.
Michael DelGaudio
Brandon Seidman
Katelyn Chen
Milad Masoodi
Mitra Modi*/
/*About CSS for CONTENT*/
/*
Git tutorial
*/
.author{
	font-weight: bold;
}

.questionLink{
	padding-bottom: 5%;
	text-align: center;
}
/*to get rid of the column list of links*/
@media screen and (max-width: 600px){
	.questionLink{
		padding-bottom: 10%;
	}
}

.lighterText{
	opacity: 0.50;
}

.outsideContainer{
	padding:0.01em 16px;
}

.innerContent{
	margin-left:auto;
	margin-right:auto;
	max-width:700px;
}


/*Quote CSS*/
.quackQuote{
	padding:0.01em 16px;
	margin-top:16px;
	margin-bottom:16px;
	
	color:#000;
	background-color:#96E0F1;
	
	border-left: 6px solid #ABABAB;
}
/**/

/*Duck Image*/
.about-duck{
	width:100%;
	max-width:1000px;
	margin-top:16px;
}