@charset "UTF-8";
/* CSS Document Desktop*/
/*I pledge my honor that I have abided by the Stevens Honor System.
Michael DelGaudio
Brandon Seidman
Katelyn Chen
Milad Masoodi
Mitra Modi*/

/*Reset margins and padding*/
 * {
     margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}

body {
	background-color: #F4FCFE;
	font-family: 'Poppins', sans-serif;
}


/*Nav Bar*/
header {
	line-height: 1.6;
	/*margin: 0;*/
	min-height: 10vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


a {
	color: #34495e;
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 2em;
}



/*how to make the logo image stay with text*/
img.brand-logo {
	vertical-align:middle;
	height:80px;
}
@media screen and (max-width:400px){
	img.brand-logo{
		display: none;
	}
}




.logo a,
.nav_main a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.nav_main a {
	color: #34495e;
	font-size: .99em;
}

.nav_main a:hover {
	color: #718daa;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.1, 1.1);
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #A7E7FB;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

/*Media*/
@media (min-width: 601px) {/*changed from 769px*/
	.header,
	.nav_main {
		display: flex;
		justify-content: space-around;
	}
	
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
	}
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
}


/*to get rid of the column list of links*/
@media screen and (max-width: 600px){
	.nav_main{
		display: flex;
		justify-content: space-around;
	}
	.nav_main a{
		padding: 10px 2px;
	}
}



/*Footer*/
.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #0D4656;
   text-align: center;
   padding: 10px;
}
.footer-text{
	color:white;
	font-size: .5em;
}
@media screen and (min-width: 769px){
	.footer-text{
		font-size: .75em;
	}
}


/*Main Content Template*/
.main-content{
	display: flex;
	justify-content: center;
	background-color: #E7F8FC;
	margin: 10px 3%;
	padding: 1%;
	min-height: 73vh;
}

/*For header title on each page*/
h5.quackHeader{
	font-size:18px;
	font-weight:400;
	margin:10px 0;
	
	text-align:center;
	width:auto;
	
	padding-top:32px;
	padding-bottom:32px;
}
h5.quackHeader span {
	background-color:#000;
	color:#fff;
	display:inline-block;
	padding-left:8px;
	padding-right:8px;
	text-align:center;
	
	letter-spacing:4px;
}