@charset "UTF-8";
/* CSS Document */
/*I pledge my honor that I have abided by the Stevens Honor System.
Michael DelGaudio
Brandon Seidman
Katelyn Chen
Milad Masoodi
Mitra Modi*/
/*Quizzes CSS CONTENT here*/


.welcome{
	font-size: 4em;
	text-shadow: 3px 3px 9px rgba(150, 150, 150, 1);
	font-weight: bold;
	color: #05566C;
}

.welcome-page{
	text-align: center;
	display: block;
}

.Quiz1{
	text-align: center;
	display: none;
	flex-direction: column;
	align-items: center;
}

.Quiz2{
	text-align: center;
	display: none;
	flex-direction: column;
	align-items: center;
}

.Quiz3{
	text-align: center;
	display: none;
	flex-direction: column;
	align-items: center;
}

.Quiz4{
	text-align: center;
	display: none;
	flex-direction: column;
	align-items: center;
}

.greeting{
	font-size: 1.3em;
	color: #1F2B38;
	font-family: 'Poppins', sans-serif;
}


div.gallery:hover {
    opacity:0.5;
}

div.gallery img {
    width: 70%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 1024px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



.spacer{
	height: 2%; 
	overflow: hidden; 
	width: 100%;	
}

.spacer2{
	height: 4%; 
	overflow: hidden; 
	width: 100%;	
}

/*div for caption not sure*/





@media screen and (max-width:480px){
	.welcome{
	font-size: 2em;
	}
	.spacer{
	height: 1%; 
	overflow: hidden; 
	width: 100%;	
	}
	
	.responsiveq{
	padding: 0px 0px 15px 0px;
    float: left;
    width: 100%;
}
}

@media screen and (min-width:481px) and (max-width:768px){
	.welcome{
	font-size: 3em;
	}
	.greeting{
		font-size: 1em;
	}
	.spacer{
	height: 3%; 
	overflow: hidden; 
	width: 100%;	
	}
	
	.responsiveq{
	padding: 0px 0px 15px 0px;
    float: left;
    width: 200%;
}
}

@media screen and (min-width: 768px) and (max-width:1200px){
	.captionText{
		padding-top: 3%;
	}
	
	.responsiveq{
	padding: 0px 0px 15px 0px;
    float: left;
    width: 400%;
}
}

@media screen and (min-width: 1200px){
	.captionText{
		padding-top: 3%;
	}
	
	.responsiveq{
	padding: 0px 0px 15px 0px;
    float: left;
    width: 600%;
}
}

.subText{
	opacity: 0.5;
}



.question{
	border: medium;
	border-color: black;
	border-style: solid;
	text-align: center;
}

.AQ{
	font-weight: bold;
	font-size: 20px;
}


.formlist{/*WORK ON CENTERING RADIO BUTTONS*/
	display: flex;
	flex-direction: column;
	align-content: center;
	vertical-align: middle;
}



.formUsername{
	padding: 12px 20px;
	margin-bottom: 20px;
}



